
<div id="main" class="main">
    
   
    <div class="pagetitle">
      <h1>Gestion des rôles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Gestion des rôles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <div class="row mb-3">
    
    <section class="section dashboard">
      <div class="row">
  
        <!-- Left side columns -->
        <div >
          
          <div class="row">
            <div class="col">
              <div class="card recent-sales overflow-auto">
                  
              
  
                <div class="card-body">
                  <h5 class="card-title"> <button id="export" type="button" class="btn btn-warning text-light" >Exporter</button> <button id="export" type="button" class="btn btn-success text-light ms-2" >Importer</button></h5>
                  <h5 class="card-title"> <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#verticalycentered"><i class="bi bi-plus-circle-dotted"></i> Ajouter</button></h5>
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Nouveau role</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form (submit)="onSubmit(f)"  #f="ngForm">
                        <div class="modal-body">
                           

                            <div class="row mb-3">
                              <label for="inputText" class="col-sm-7 col-form-label" >Description </label>
                              <div class="col-sm-12">
                                <input type="text" name="description" class="form-control" ngModel required>
                              </div>
                            </div>
                         
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" id="save"  class="btn btn-primary" data-bs-dismiss="modal" [disabled]="f.invalid">Enregistrer</button>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="modif" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Modifier role</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form >
                        <div class="modal-body"> <div class="row mb-3">
                                <label for="inputText" class="col-sm-7 col-form-label" >Description </label>
                                <div class="col-sm-12">
                                  <input type="text" name="description" class="form-control" [(ngModel)]="menu.description"  required>
                                </div>
                              </div>
                        </div>
                        <div class="modal-footer">
                          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                        <button type="button"  (click)="onUpdate()" data-bs-dismiss="modal"  class="btn btn-success">Modifier</button>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="supp" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Voulez-vous supprimer ?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
  
                        <div class="modal-footer">
                          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</a>
                          <a type="button" (click)="delete()" class="btn btn-primary">Oui</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table id="report" class="table table-border datatable">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let menu of menus  let i=index;">
                            <th scope="row">{{ i+1 }}</th>
                            <td><b>{{menu.description}}</b></td>
                            <td>{{ menu.date  }}</td>
                            <td>
                                <button type="button"  class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modif" (click)="getMenu(menu.id)"><i class="bi bi-pencil-square"></i></button> | <button type="button" (click)="getId(menu.id)"    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#supp"><i class="bi bi-trash"></i></button>
                            </td>
                          
                         
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div>
  
          </div>
          
        </div><!-- End Left side columns -->
        
        <!-- Right side columns -->
      
  
        
  
      </div>
      
    </section>
  
  </div>
