<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item ">
        <a routerLink="home"   routerLinkActive="active"  class="nav-link collapsed" >
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
        <li class="nav-item ">
            <a routerLink="menu"   routerLinkActive="active"  class="nav-link collapsed" >
              <i class="bi bi-people-fill"></i>
              <span>Membres</span>
            </a>
          </li>
          
  
      <li class="nav-item">
        <a  routerLink="doc"  routerLinkActive="active" class="nav-link collapsed" >
          <i class="bi bi-bank"></i>
          <span>Paiements</span>
        </a>
    </li>
      <!-- End Dashboard Nav -->
     
      <!-- End Saisies Nav -->
      <li  class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-na" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Paramètres </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-na" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item ">
            <a routerLink="categorie"   routerLinkActive="active"  class="nav-link collapsed" >
              <i class="bi bi-circle"></i>
              <span>Agences</span>
            </a>
          </li>
          <li class="nav-item ">
            <a routerLink="sous-categorie"   routerLinkActive="active"  class="nav-link collapsed" >
              <i class="bi bi-circle"></i>
              <span>Centres</span>
            </a>
          </li>
          <li>
            <a routerLink="role"  routerLinkActive="active"  class="nav-link collapsed">
              <i class="bi bi-circle"></i><span>Roles</span>
            </a>
          </li>
          <li class="nav-item">
            <a  routerLink="flash"  routerLinkActive="active" class="nav-link collapsed" >
              <i class="bi bi-circle"></i>
              <span>Type paiement </span>
            </a>
          </li>
          <li    class="nav-item ">
            <a routerLink="user"  routerLinkActive="active"  class="nav-link collapsed">
              <i class="bi bi-circle"></i>
              <span>Utilisateurs </span>
            </a>
          </li>
       
        </ul>
      </li>
  
      
      <!-- End invitations Nav -->
  
  <!-- End Blank Page Nav -->
  
    </ul>
  
  </aside>