
<div id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des scoops</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Gestion des scoops</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <div class="row mb-3">
    
    <section class="section dashboard">
    
      <div class="row">
  
        <!-- Left side columns -->
        <div class="col-lg-8">
          
          <div class="row">
            <div class="col">
              <div class="card recent-sales overflow-auto">
                  
              
  
                <div class="card-body">
                  <h5 class="card-title"> <button id="export" type="button" class="btn btn-warning text-light" >Exporter</button> <button id="export" type="button" class="btn btn-success text-light ms-2" >Importer</button></h5>
                 <div class="modal fade" id="modif" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Modifier le scoop</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                              <label for="inputText" class="col-sm-7 col-form-label" >Contenu </label>
                              <div class="col-sm-12">
                                <input type="text" name="contenu" class="form-control" [(ngModel)]="scoop.contenu" required>
                              </div>
                            </div>
                         
                        </div>
                        <div class="modal-footer">
                          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                          <a type="button" (click)="update()" class="btn btn-primary">Modifier</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class="table table-border datatable">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let scoop of scoops  let i=index;">
                        <th scope="row">{{ i+1 }}</th>
                        <td><b>{{scoop.contenu}}</b></td>
                        <td>
                            <button type="button"  class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modif" (click)="getScoop(scoop.id)"><i class="bi bi-pencil-square"></i></button> 
                        </td>
                      </tr>
                    </tbody>
                  </table>
  
                </div>
  
              </div>
            </div>
  
          </div>
        </div><!-- End Left side columns -->
  
        <div class="col-lg-4">
          <div class="card">
            

            <div class="card-body pb-0">
              <h5 class="card-title">Flash &amp; Info <span>| Today</span></h5>

              <div class="news">
                <div  *ngFor="let flash of flashs  let i=index;" class="post-item clearfix">
                  <img src="assets/img/alert.PNG" alt="">
                  <h4><a>{{ flash.titre }}</a></h4>
                  <p>{{ flash.contenu }}</p>
                </div>
                
              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div>
  
      </div>
    </section>
  
  </div>
